<div class="container col-md-8">




<div class="list-show-name">
  <%= @list.title %>
</div>




<%= render "tasks/new_form" %>

# Uncompleted tasks
<% @todo.each do |task| %>
  <%= render "tasks/task", task: task %>
<% end %>

# completed tasks
<% @completed_tasks.each do |task| %>
  <%= render "tasks/task", task: task %>
<% end %>


<div class="form-button text-center">
<%= link_to("Back", root_path, :class => "btn btn-outline-warning") %>
</div>


</div>