<div id="<%= task.id %>" class="row">


<div class="col-md-8 task-col mx-auto">

<li>


<div class="task-name">
<%= task.title %> 
</div>
  
  <div class="task-date">

  <span class="badge badge-light" >Created at: <%= l task.created_at, format: :long  %> | <%= time_ago_in_words(task.created_at) %> ago.</span> 


<% if task.completed %>
<span class="badge badge-light">Completed <%= time_ago_in_words(task.updated_at) %> ago. </span>  
<% end %>




  </div>

  
  <div class="task-buttons">
    <%= render "tasks/destroy_form", task: task %>
    <%= render "tasks/update_form", task: task %>
  </div>


</li>


</div>
</div>
